@model IEnumerable<Client.Webshop.Models.Orderline>

@{
    ViewBag.Title = "Kurv";
}

<h2>Kurv</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th></th>
    </tr>

   
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>


</table>