@model IEnumerable<Client.Domain.Product>

@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">
    <h1>De fedeste ure</h1>
</div>

@foreach (var item in Model) {
    <tr>
        <td> <img src="@item.Images[0].ImageSource" alt="Alternate Text" /></td>

    </tr>
    <div>
        <input type="button" value="Knap" onclick="location.href='@Url.Action("Index", "ProductView", new { id = item.ID })'" />
        <hr />
    </div>
}