@model IEnumerable<Client.Domain.Product>

@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">
    <h1>De fedeste ure</h1>
</div>

@foreach (var item in Model) {
    <tr>
        <td> @Html.Action("Index", "ProductView", item.ID) </td>

    </tr>
<div>
    <input type="button" value="Knap" onclick="location.href='@Url.Action("Index", "ProductView", item.ID)'" />
    <hr />
</div>
}