@model IEnumerable<Client.Domain.Product>

@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">
    <h1>De fedeste ure</h1>
</div>

@foreach (var item in Model) {
    <tr>
        <p>
            @item.Name <a href="@Url.Action("Index", "ProductView", new { id = item.ID })">
                <img border="0" alt="W3Schools" src="@item.Images[0].ImageSource" width="100" height="100">
            </a>
        </p>
    </tr>
}