<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_ITagService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/Server.ServiceLayer/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ServiceReference1.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8010/Design_Time_Addresses/Server.ServiceLayer/TagService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService"
                contract="ServiceReference2.ITagService" name="BasicHttpBinding_ITagService" />
        </client>
    </system.serviceModel>
</configuration>