<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductService" />
        <binding name="BasicHttpBinding_ITagService" />
        <binding name="BasicHttpBinding_IProductService1" />
        <binding name="BasicHttpBinding_ITagService1" />
        <binding name="BasicHttpBinding_IOrderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8011/Design_Time_Addresses/Server.ServiceLayer/ProductService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
          contract="ServiceReference1.IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:8012/Design_Time_Addresses/Server.ServiceLayer/TagService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService"
          contract="ServiceReference2.ITagService" name="BasicHttpBinding_ITagService" />
      <endpoint address="http://localhost:8011/Design_Time_Addresses/Server.ServiceLayer/ProductService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService1"
          contract="ServiceReference1.IProductService" name="BasicHttpBinding_IProductService1" />
      <endpoint address="http://localhost:8012/Design_Time_Addresses/Server.ServiceLayer/TagService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService1"
          contract="ServiceReference2.ITagService" name="BasicHttpBinding_ITagService1" />
      <endpoint address="http://localhost:8013/Design_Time_Addresses/Server.ServiceLayer/OrderService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
          contract="OrderReference.IOrderService" name="BasicHttpBinding_IOrderService" />
    </client>
  </system.serviceModel>
</configuration>