
@{
    ViewBag.Title = "Information";
    
}
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="margin-top:50px">
    <main>
        <fieldset>
            <legend>Leveringsadresse</legend>
            <div class="formArea formRow">
                <form name="deliveryAddress" method="post" action="@Url.Action("Confirmation", "Buy")">

                    <div> <p style="visibility: @ViewBag.Visibility; color: red; font-size: 17px; width: 600px; height: 20px;">Denne email er tilknyttet en bruger, venligst log ind med denne bruger</p> </div>

                    <div class="formRow textNormal">
                        Fornavn*
                        <input autocomplete="off" class="textboxWide2 textNormal margin" name="firstName" pattern="[a-zA-ZæøåÆØÅ]{1,20}$" type="text" id="name" placeholder="Fornavn" required oninvalid="this.setCustomValidity('Indtast et fornavn med 2-20 bogstaver')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Efternavn*
                        <input autocomplete="off" class="textboxWide2 textNormal margin" name="lastName" pattern="^[a-zA-ZæøåÆØÅ]+( [a-zA-ZæøåÆØÅ ]+)*$" type="text" id="name" placeholder="Efternavn" required oninvalid="this.setCustomValidity('Indtast et efternavn')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Adresse*
                        <input autocomplete="off" class="textboxWide2 textNormal margin" name="street" pattern="^[a-zA-ZæøåÆØÅ]+( [a-zA-ZæøåÆØÅ0-9-., ]+)*$" type="text" id="name" placeholder="Adresse" required oninvalid="this.setCustomValidity('Indtast en gyldig adresse')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Postnummer.*
                        <input autocomplete="off" class="textboxSmall3 textNormal marginRightWide2" name="zip" pattern="[0-9]{4}" type="tel" id="name" placeholder="Postnr." required oninvalid="this.setCustomValidity('Indtast et dansk postnummer')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        By.*
                        <input autocomplete="off" class="textboxMedium2 textNormal marginRightMedium2" name="city" pattern="[a-zA-ZæøåÆØÅ]{1,20}$" type="text" id="name" placeholder="By" required oninvalid="this.setCustomValidity('Indtast en dansk by')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Email.*
                        <input autocomplete="off" class="textboxWide2 textNormal margin" name="email" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,}$" type="email" id="name" placeholder="E-mail" required oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Telefonnummer.*
                        <input autocomplete="off" class="textboxMedium2 textNormal marginRightMedium2" name="number" pattern="[0-9]{8}" type="tel" id="name" placeholder="Telefon nr." required oninvalid="this.setCustomValidity('Indtast et gyldigt telefonnummer')" oninput="setCustomValidity('')" />
                    </div>


                    <div class="formRow">

                        <input type="submit" value="Fortsæt" class="submitbutton" />
                        <input type="reset" value="Annuller" class="resetButton" />
                    </div>
                </form>
            </div>
        </fieldset>
    </main>

</body>
</html>
